/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
.gallery {
  display: flex;
  justify-content: center;
  width: 1128px;
  gap: 24px;
  flex-wrap: wrap;
  margin-top: 32px;
}
.gallery li {
  width: calc((100% - 48px) / 3);
}
img {
  height: 200px;
  width: 100%;
}
.li-el {
  border: 1px solid #808080;
}
.img-desc {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 25px;
  gap: 20px;
}
.label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4px 0;
}
.label .name {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.label .value {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.form input {
  box-sizing: border-box;
  width: 272px;
  height: 40px;
  border-radius: 4px;
  outline: none;
  padding: 8px 16px;
  border: 1px solid #808080;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: border 250ms ease-in-out;
}
.form input:hover {
  border: 1px solid #000000;
}
.form input:focus {
  border: 1px solid #4e75ff;
}
.form label {
  width: 272px;
  height: 40px;
}
.form {
  display: flex;
  gap: 8px;
  margin-top: 36px;
  align-items: center;
  justify-content: center;
}
.form button,
.more {
  border: none;
  background-color: #4e75ff;
  color: #ffffff;
  padding: 8px 16px;
  height: 40px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms ease-in-out;
}
.form button:hover,
.more:hover {
  background-color: #6c8cff;
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid black;
  border-bottom-color: transparent;
  border-radius: 50%;
  /* display: inline-block; */
  display: none;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.more {
  display: none;
  margin-top: 32px;
  margin-bottom: 42px;
}
